<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">

        <!-- Splash Activity (launch first) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity (opens after splash) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Admin Login Activity -->
        <activity
            android:name=".AdminLoginActivity"
            android:exported="true" />

        <!-- Employee Login Activity -->
        <activity
            android:name=".EmployeeLoginActivity"
            android:exported="true" />

        <!-- Employee View Activity -->
        <activity
            android:name=".EmployeeViewActivity"
            android:exported="true" />

        <!-- Admin Dashboard Activity -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="true" />

        <activity
            android:name=".SubmitExpenseActivity"
            android:label="Submit Expense" />
        <activity
            android:name=".ExpenseSummaryActivity"
            android:label="Expense Summary" />


    </application>

</manifest>
